#content {
	width: 1000px;
}

#central_table{
	width: 100%;
	border: solid 1px #BDBDBD;
	margin-top: 10px;
	margin-bottom: 10px;
}

#central_table th{
	color: rgb(105,105,105);
	background-color: #F5F5F5;
	border: solid 1px #BDBDBD;
	height: 40px;
	vertical-align: middle;
	font-size: 20px;
}


#tb_section {
	width: 40%;
    color: rgb(105,105,105);
}

#tb_topic {
	width: 10%;
}
#tb_msg {
	width: 10%;
}
#tb_last_msg {
	width: 40%;
}

#central_table tr td {
	border: solid 1px #BDBDBD;
	vertical-align: middle;
}

#central_table tr{
	text-align: center;
	background: #F5F5F5;
	color: rgb(105,105,105);
	border: solid 1px #BDBDBD;
	height: 40px;
}

.section_in_table a  {
	display: block;
	text-decoration: none;
	color: rgb(105,105,105);
}
.section_in_table:hover {
	background: rgba(0,0,0,.1);

}

#central_table tr td ul li a {
	color: rgb(105,105,105);
}