
*{
	margin: 0;
	padding: 0;
	outline: none;

}

header {
	background: url(../images/bg.jpg);
}

body{
 background-image: url("../images/bg.png");
 font: 14px Arial, Tahoma, sans-serif;
 background: url(../images/bg.jpg);
}

.b4radius{
 	border-radius: 4px;
}

.header {
 margin:0 auto;
 margin-top: 10px;
 float:none;
 background-color: rgb(139,137,137);
 background-color: #FF8C00;
 background: url(../images/head.jpg);
 background-repeat:  no-repeat;

}

.btn_sign {
	width: 40%;
}
.btn_reg {
	width: 60%;
}
.top_login {
	float: right;
	list-style: none;
}

.login_style {
	border: none;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.5);
	width: 100%;
}

.footer{
    margin-top: 10px;
    background-color: #F5F5F5;
    text-align: center;
}

.back_color {
	 background-color: #fff;
}

#nav_bar {
	margin-top: 5px;
}

.side_bar {
	width: 88%;
	margin-bottom: 10px;
}

#side_bar {
	
}

.search_style {
	border: none;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.5);
	margin-top: 5px;
	float:  right;
}

.search_img {
	float: right;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-right: 4px;
}

.btn_search {
	float: right;
	margin-left: 5px;
}

.side_bar_icon {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-left: 5px;

}

.side_bar_user {
	margin-top: 3px;
	background-color: #F5F5F5;
	height: 60px;
	margin-right: 5px;
}

.side_bar_user img {
	float: left;
}

.side_bar_user ul {
	list-style: none;
}

.side_bar_user ul li a{
	margin-left: 5px;
}
.side_bar_user ul li em {
	margin-left: 5px;
}

.side_bar_user:hover {
	background-color: #E8E8E8;
}

.myscroll {
  margin-top: 4px;

  overflow: auto;
}

#central_table{
	width: 100%;
	border-color: #BDBDBD;
}

#central_table th{
	color: rgb(105,105,105);
	background-color: #F5F5F5;
}

#central_table tr{
	text-align: center;
	background: #F5F5F5;
	color: rgb(105,105,105);
}

.section_in_table a  {
	display: block;
	text-decoration: none;
	color: rgb(105,105,105);
}
.section_in_table:hover {
	background: rgba(0,0,0,.1);

}

#central_table tr td ul li a {
	color: rgb(105,105,105);
}

#logged {
	border: 3px solid green;
}