#content {
	width: 950px;
	background-color: #F5F5F5;
	margin-top: 10px;
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#topic {
	font-size: 20px;
	float: left;
}

#author {
	font-size: 20px;
	float: right;
	margin-right: 50px;
}

.line {
	border: none;
	height: 1px;
	color: #8470FF;
	background-color: #8470FF;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -25px;
	width: 950px;
}

.user_icon {
	width: 128px;
	height: 128px;
	margin-left: 20px;
	border: solid 1px #8470FF;
}

.fleft {
	float: left;
}

.msg_content {
	width: 750px;
	text-align: justify;
	margin-left: 20px;
	margin-bottom: 10px;
}

.message {
	padding-top: 10px;
	margin-top: 10px;
	margin-left: -25px;
	border: solid 1px #8470FF;
	width: 950px;
}

.nick {
	text-decoration: none;
	color: #000;
	margin-left: 20px;
	margin-top: 5px;
}

.ml_20 {
	margin-left: 20px;
}


.new_msg_content {
	width: 750px;
	text-align: justify;
	resize: none;
	height: 100px;
	float: left;
}

.btn_send {
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: -6px;
}