#tb_topic {
	width: 50%;
	height: 50px;
}
#tb_msg {
	height: 50px;
	width: 20%;
}
#tb_last_msg {
	height: 50px;
	width: 30%;
}

#central_table tr{
	text-align: center;
	height: 50px;
}

.section_in_table a {
	display: block;
	text-decoration: none;

}


#central_table tr td ul li a {
	
}

